* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bahnschrift", sans-serif;
}

i.fas {
    line-height: inherit;
}

body {
    background: rgba(226, 226, 231, 0.92);
    height: 100vh;
}

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.projects {
    flex: 0 1 800px;
    background: white;
    margin: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar, .layout-fixer {
    flex: 0 0 60px;
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 15px;
}

.sidebar .side-btn {
    position: relative;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 15px;
    margin: 10px 0;
}

.sidebar .side-btn:first-child {
    margin-top: 0;
}

.sidebar .side-btn a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    color: red;
    opacity: .6;
}

.sidebar .side-btn a:hover {
    opacity: 1;
}

.projects .menu-bar {
    flex: 0 0 48px;
    border-bottom: 2px solid silver;
    display: flex;
}

.projects .status-bar {
    flex: 0 0 48px;
    border-top: 2px solid silver;
}

.projects .projects-list {
    flex: 1 1;
}

.projects .menu-bar .search-field {
    position: relative;
    flex: 1 1;
    padding: 8px 20px;
}

.projects .menu-bar .search-field input {
    height: 32px;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    border: none;
    border-bottom: 1px solid silver;
    padding: 0 2em 0 .5em;
    outline: none;
}

.projects .menu-bar .search-field input:focus {
    border-bottom: 1px solid orangered;
}

.projects .menu-bar .search-field i {
    font-size: 18px;
    position: absolute;
    top: .65em;
    right: 1.75em;
    color: silver;
    cursor: pointer;
    z-index: 1;
}

.projects .menu-bar .search-field i:hover {
    color: orangered;
}

.projects .menu-bar .command-field {
    border-left: 2px solid silver;
    padding: 0 2em;
    line-height: 48px;
}

.projects .projects-list {
    overflow-y: auto;
}

.projects .projects-list .project-card {
    border-bottom: 1px solid silver;
    height: 4em;
}