@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
	display: flex;
	flex-direction: column;
    height: 100vh;
	width: 100vw;
    background: linear-gradient(135deg, #ffffff, #aaaaaa);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex: 0 0 82px;
    border-bottom: 1px solid black;
}

.header .left-part {
	display: flex;
	align-items: center;
}

.header .back-btn, .git-btn, .vk-btn, .tag-setup-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border: #000 1px dotted;
	border-radius: 15px;
	background: #fff;
	padding: 10px;
	height: 50px;
	color: #000;
	margin: 0 20px;
	cursor: pointer;
}

.header .vk-btn {
	margin: 0px;
}

.header .git-btn {
	margin-right: 40px;
}

.header .back-btn {
	font-size: 30px;
}

.header .git-btn, .vk-btn, .tag-setup-btn {
	font-size: 20px;
}

.header .back-btn:hover, .git-btn:hover, .vk-btn:hover, .tag-setup-btn:hover {
	box-shadow: 0 0 7px 0 grey;
}

ul {
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
}

ul:after {
	display: block;
	float:none;
	clear: both;
}

ul.vk-menu > li {
	float: left;
	position: relative;
}

ul.vk-menu > li > a, ul.vk-list > li > a {
	display: block;
	color: #000;
	padding: 5px 10px;
	text-decoration: none;
	background-color: #fff;
}

ul.vk-menu > li > a {
	padding: 10px;
}

ul.vk-list {
	position: absolute;
	display: none;
	background-color: #fff;
	font-size: 14px;
	z-index: 1;
	border: #000 1px dotted;
	border-radius: 10px;
	overflow: hidden;	
}

ul.vk-list > li {
	display: block;
}

ul.vk-menu > li:hover > ul.vk-list {
	display: block;
}

ul.vk-list > li > a:hover {
	text-decoration: underline;
	text-decoration-color: #ff4500;
}

.header .tag-setup-btn {
	margin-right: 30px;
}

.win-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
}

#win-tag-setup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 3;
}

#win-tag-setup:target {
	display: flex;
	align-items: center;
	justify-content: center; 
}

#win-tag-setup .tag-setup-items {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 500px;
	background: #fff;
	border-radius: 15px;
	padding: 20px;
	z-index: 3;
	border: #000 1px solid;
}

#win-tag-setup .tag-setup-items .name {
	font-size: 20px;
}

#win-tag-setup .tag-setup-items .tags {
	display: flex;
	flex-direction: column;
	max-height: 350px;
	overflow:hidden;
	overflow-y:auto;
}

#win-tag-setup .tag-setup-items .tags .project-tags, .lk-tags {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

#win-tag-setup .tag-setup-items .tags .tag {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	border-radius: 15px;
	flex: 0 0 80px;
	padding: 3px 0;
	margin: 0 5px 5px 0;
	position: relative;
}

#win-tag-setup .tag-setup-items .tags .project-tags .tag .delete, .lk-tags .tag .enter {
	border: none;
	cursor: pointer;
	background: none;
	position: absolute;
	font-size: 16px;
	top: -8px;
	right: 5px;
}

#win-tag-setup .tag-setup-items .tags .project-tags .tag .delete {
	color: red;
	text-shadow: 1px 0 1px #000, 
				0 1px 1px #000, 
				-1px 0 1px #000, 
				0 -1px 1px #000;
}

#win-tag-setup .tag-setup-items .tags .lk-tags .tag .enter {
	color: green;
	text-shadow: 1px 0 1px #000, 
				0 1px 1px #000, 
				-1px 0 1px #000, 
				0 -1px 1px #000;
}

#win-tag-setup .tag-setup-items .btns {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

#win-tag-setup .tag-setup-items .btns * {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 15px;
	color: #fff;
	background: #ff4500;
	font-size: 16px;
	padding: 5px 0;	
	width: 110px;
	cursor: pointer;
	text-decoration: none;
	margin: 0 5px;
}

#win-tag-setup .tag-setup-items .btns *:hover {
	box-shadow: 0 0 5px 0 #ff6127;
}

#win-tag-setup .tag-setup-items .btns *:active {
	box-shadow: 0 0 5px 0 #ff4500;
}

._HIDDEN {
    display: none;
}

.dashboard {
    flex: 1 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}