<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <script
			  src="https://code.jquery.com/jquery-3.6.0.js"
			  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			  crossorigin="anonymous">
    </script>
</head>
<body>
    This is homepage. <br>
    <a href="{% url 'projects' %}">You may visit project page.</a>
</body>
<script>
    $.ajax({
        url: '/info/',
        method: "GET",
        dataType: 'json',
        success: d => {
            console.log(d)
        },
        error: e => {
            console.log(e)
        }
    })
</script>
</html>