<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no" />
		<title>Мониторинг Успешности Проектов</title>
        {% load static %}
		<link rel="shortcut icon" href="{% static 'img/programmer.png' %}" type="image/png">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
	</head>
	
	<body>
		
		<div class="header">
		
			<div class="header-item header-name">
				Мониторинг успешности проектов
			</div>
			<div class="header-item">
			<a href="#enter">Учитель</a>
			</div>
			<div class="header-item">
			<a href="#search">Студент</a>
			</div>
			
		</div>
		
		<div class="page-content">
		
			<form id="search">
                {% csrf_token %}
				<div class="search-items">
					<h1 class="search-name">Проверка репозитория</h1>
					<div class="search-info">
						<p>Инструкция:</p>
						<p>Вставляешь ссылку, нажимаешь поиск.</p>
					</div>
					<input type="search" placeholder="Ссылка">
					<button type="submit" class="search-btn">
						Найти
						<i class="fa fa-search"></i>
					</button>
				</div>
			</form> 
			
			<form id="enter" action="#" method="POST">
                {% csrf_token %}
				<div class="enter-items">
					<h1 class="enter-name">Авторизация</h1>
                    {% if error %}
					<div class="enter-info">
						<p>{{ error }}</p>
					</div>
                    {% endif %}
					<input type="text" placeholder="Логин" name="username">
					<input type="password" placeholder="Пароль" name="password">
					<button class="enter-btn">Войти</button>
				</div>
			</form>
			
		</div>		

	</body>
	
</html>
