 <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no" />
		<title>Личный кабинет</title>
		<link rel="stylesheet" href="style_user.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
	</head>
	<body>
		<div class="side-btns">
			<a href="page.html"><i class="fa fa-arrow-left"></i></a>
			<a href="#"><i class="fas fa-user-cog"></i></a>
			<a href="main_page.html"><i class="fas fa-door-closed"></i></a>
		</div>
		<div class="personal-area">
			<p class="name"><strong>Nickname</strong></p>
			<p class="my-tags">Мои тэги:</p>
			<div class="tags">
				<div class="tag" style="background: #FCA3A3">
					<span>Tag 1</span>
					<button class="delete"><i class="fa fa-times"></i></button>
				</div>
				<div class="tag" style="background: #2BBD77">
					<span>Tag 2</span>
					<button class="delete"><i class="fa fa-times"></i></button>
				</div>
				<div class="tag" style="background: #FCA303">
					<span>Tag 3</span>
					<button class="delete"><i class="fa fa-times"></i></button>
				</div>
				<button class="new-tag">+</button>
			</div> 
			<p class="change-pas-text">Смена пароля:</p>
			<div class="input-box">
				<input type="text" placeholder=" ">
				<label>Введите старый пароль</label>
			</div>
			<div class="input-box">
				<input type="text" placeholder=" ">
				<label>Введите новый пароль</label>
			</div>
			<div class="input-box">
				<input type="text" placeholder=" ">
				<label>Повторите новый пароль</label>
			</div>
			<button class="change-pas">Сменить пароль</button>
		</div>
		<div class="space"></div>
	</body>
</html>