<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no" />
		<title>Мониторинг Успешности Проектов</title>
		<link rel="stylesheet" href="style_page.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
	</head>
	<body>
		<div class="side-btns">
			<a href="#win-project"><i class="fas fa-plus"></i></a>
			<a href="#win-year"><i class="far fa-calendar-plus"></i></a>
			<a href="#"><i class="fas fa-user-cog"></i></a>
			<a href="page_user.html"><i class="fas fa-user"></i></a>
			<a href="main_page.html"><i class="fas fa-door-closed"></i></a>
		</div>
		<div class="main-form">
			<div class=" up-part">
				<div class="search">
					<input type="text" placeholder="Поиск">
					<button class="search-btn"><i class="fas fa-search"></i></button>
				</div>
				<select class="tag-choice">
					<option>Все тэги</option>
					<option>Tag 1</option>
					<option>Tag 2</option>
					<option>Tag 3</option>
					<option>one more tag</option>
				</select>
			</div>
			<div class="main-part">
				<div class="project">
					<a href="#">Мониторинг успешности проектов</a>
					<p class="names">
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий</span>
					</p>
					<p class="git">github-user/pampam-project/</p>	
					<div class="tags">
						<div class="tag" style="background: #FCA3A3">Tag 1</div>
						<div class="tag" style="background: #2BBD77">Tag 2</div>
						<div class="tag" style="background: #FCA303">Tag 3</div>
						<div class="tag" style="background: #FCA3F3">Tag 4</div>
						<div class="tag" style="background: #2BB0F7">Tag 5</div>
						<div class="tag" style="background: #FCAF83">Tag 6</div>
						<div class="tag" style="background: #FCA3F3">Tag 7</div>
						<div class="tag" style="background: #2BB0F7">Tag 8</div>
						<div class="tag" style="background: #FCAF83">Tag 9</div>
					</div>
				</div>
				<div class="project">
					<a href="#">Мониторинг успешности проектов</a>
					<p class="names">
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий</span>
					</p>
					<p class="git">github-user/pampam-project/</p>	
					<div class="tags">
						<div class="tag" style="background: #FCA3A3">Tag 1</div>
						<div class="tag" style="background: #2BBD77">Tag 2</div>
						<div class="tag" style="background: #FCA303">Tag 3</div>
						<div class="tag" style="background: #FCA3F3">Tag 4</div>
						<div class="tag" style="background: #2BB0F7">Tag 5</div>
						<div class="tag" style="background: #FCAF83">Tag 6</div>
						<div class="tag" style="background: #FCA3F3">Tag 7</div>
						<div class="tag" style="background: #2BB0F7">Tag 8</div>
						<div class="tag" style="background: #FCAF83">Tag 9</div>
					</div>
				</div>
				<div class="project">
					<a href="#">Мониторинг успешности проектов</a>
					<p class="names">
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий</span>
					</p>
					<p class="git">github-user/pampam-project/</p>	
					<div class="tags">
						<div class="tag" style="background: #FCA3A3">Tag 1</div>
						<div class="tag" style="background: #2BBD77">Tag 2</div>
						<div class="tag" style="background: #FCA303">Tag 3</div>
						<div class="tag" style="background: #FCA3F3">Tag 4</div>
						<div class="tag" style="background: #2BB0F7">Tag 5</div>
						<div class="tag" style="background: #FCAF83">Tag 6</div>
						<div class="tag" style="background: #FCA3F3">Tag 7</div>
						<div class="tag" style="background: #2BB0F7">Tag 8</div>
						<div class="tag" style="background: #FCAF83">Tag 9</div>
					</div>
				</div>
				<div class="project">
					<a href="#">Мониторинг успешности проектов</a>
					<p class="names">
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий</span>
					</p>
					<p class="git">github-user/pampam-project/</p>	
					<div class="tags">
						<div class="tag" style="background: #FCA3A3">Tag 1</div>
						<div class="tag" style="background: #2BBD77">Tag 2</div>
						<div class="tag" style="background: #FCA303">Tag 3</div>
						<div class="tag" style="background: #FCA3F3">Tag 4</div>
						<div class="tag" style="background: #2BB0F7">Tag 5</div>
						<div class="tag" style="background: #FCAF83">Tag 6</div>
						<div class="tag" style="background: #FCA3F3">Tag 7</div>
						<div class="tag" style="background: #2BB0F7">Tag 8</div>
						<div class="tag" style="background: #FCAF83">Tag 9</div>
					</div>
				</div>
				<div class="project">
					<a href="#">Мониторинг успешности проектов</a>
					<p class="names">
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий</span>
					</p>
					<p class="git">github-user/pampam-project/</p>	
					<div class="tags">
						<div class="tag" style="background: #FCA3A3">Tag 1</div>
						<div class="tag" style="background: #2BBD77">Tag 2</div>
						<div class="tag" style="background: #FCA303">Tag 3</div>
						<div class="tag" style="background: #FCA3F3">Tag 4</div>
						<div class="tag" style="background: #2BB0F7">Tag 5</div>
						<div class="tag" style="background: #FCAF83">Tag 6</div>
						<div class="tag" style="background: #FCA3F3">Tag 7</div>
						<div class="tag" style="background: #2BB0F7">Tag 8</div>
						<div class="tag" style="background: #FCAF83">Tag 9</div>
					</div>
				</div>
				<div class="project">
					<a href="#">Мониторинг успешности проектов</a>
					<p class="names">
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий,</span>
						<span>Надобных Дмитрий</span>
					</p>
					<p class="git">github-user/pampam-project/</p>	
					<div class="tags">
						<div class="tag" style="background: #FCA3A3">Tag 1</div>
						<div class="tag" style="background: #2BBD77">Tag 2</div>
						<div class="tag" style="background: #FCA303">Tag 3</div>
						<div class="tag" style="background: #FCA3F3">Tag 4</div>
						<div class="tag" style="background: #2BB0F7">Tag 5</div>
						<div class="tag" style="background: #FCAF83">Tag 6</div>
						<div class="tag" style="background: #FCA3F3">Tag 7</div>
						<div class="tag" style="background: #2BB0F7">Tag 8</div>
						<div class="tag" style="background: #FCAF83">Tag 9</div>
					</div>
				</div>
			</div>
			<div class="down-part">
				<p class="text-found">
					Найдено <span>N</span> проектов 
				</p>
				<div class="year-part">
					<div class="checkbox">
					<input type="checkbox" id="main-year-group" disabled checked>
					<label for="main-year-group">Основной поток</label>
					</div>
					<select class="year-choice">
						<option>2021/2022</option>
						<option>2020/2021</option>
						<option>2019/2020</option>
						<option>year</option>
						<option>one more</option>
					</select>
				</div>
			</div>
		</div>
		<div class="space"></div>
		<form id="win-year">
			<a href="page.html" class="win-overlay"></a>
			<div class="year-items">
				<p class="name">Название потока</p>
				<input class="enter-year" type="text" placeholder="Например 2020/2021">
				<div class="checkbox">
					<input type="checkbox" id="do-main-year-group">
					<label for="do-main-year-group" class="main-year">Сделать поток основным</label>
				</div>
				<div class="btns">
					<a href="#win-year">Добавить</a>
					<a href="page.html">Отмена</a>
				</div>
		    </div>
		</form>
		<form id="win-project">
			<a href="page.html" class="win-overlay"></a>
			<div class="project-items">
				<p class="name">Новый проект</p>
				<div class="project">
					<div class="input-box">
						<input type="text" placeholder=" ">
						<label>Название проекта</label>
					</div>
					<div class="input-box">
						<input type="text" placeholder=" ">
						<label>Ссылка на репозиторий</label>
					</div>
				</div>
				<div class="students">
					<p class="list-name">Список студентов</p>
					<div class="menu">
						<a href="#win-project">1<i class="fas fa-crown"></i></a>
						<a href="#win-project">2</a>
						<a href="#win-project">+</a>
					</div>
					<div id="student-1">
						<div class="up">
							<p class="num">Студент 1</p>
							<button><i class="fas fa-trash-alt"></i></button>
						</div>
						<div class="FIO">
							<div class="input-box">
								<input type="text" placeholder=" ">
								<label>Фамилия</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" ">
								<label>Имя</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" ">
								<label>Отчество</label>
							</div>
						</div>
						<div class="study">
							<div class="input-box">
								<input type="text" placeholder=" ">
								<label>Группа</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" ">
								<label>Форма обучения</label>
							</div>
						</div>
						<div class="social">
							<div class="input-box">
								<input type="text" placeholder=" ">
								<label>VK</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" ">
								<label>GitHub</label>
							</div>
						</div>
					</div>
				</div>
				<div class="btns">
					<a href="#win-project">Добавить</a>
					<a href="page.html">Отмена</a>
				</div>
			</div>
		</form>
	</body>
</html>
	