<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no" />
		<title>Мониторинг Успешности Проектов</title>
        {% load static %}
		<link rel="stylesheet" href="{% static 'css/style_list.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/style_common.css' %}" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
	</head>
	<body onload="updateProjectList()">
		<div class="side-btns">
			<a href="#win-project" title="Добавить новый проект"><i class="fas fa-plus"></i></a>
			<a href="#win-year" title="Добавить новый поток"><i class="far fa-calendar-plus"></i></a>
            {% if request.user.is_staff %}
			<a href="/admin" title="Админ-меню (Django)"><i class="fas fa-user-cog"></i></a>
            {% endif %}
			<a href="{% url 'personal' %}" title="Личный кабинет"><i class="fas fa-user"></i></a>
            <a href="{% static 'Instruktsia_polzovatelya.pdf' %}" title="Инструкция" target="_blank"><i class="fa fa-book"></i></a>
			<a href="{% url 'logout' %}" title="Выйти"><i class="fas fa-door-closed"></i></a>
		</div>
		<div class="workspace">
			<div class=" up-part">
				<div class="search">
					<input id="search-input" type="text" placeholder="Поиск по названию/студентам" name="search">
					<button id="search-btn" class="search-btn" onclick="updateProjectList()"><i class="fas fa-search"></i></button>
				</div>
				<select class="tag-choice" name="tag-select" id="tag-select" onchange="updateProjectList()">
					<option value="Все тэги">Все тэги</option>
                    {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
				</select>
			</div>
			<div class="main-part">

			</div>
			<div class="down-part">
				<p class="text-found">
					Количество: <span id="found-amount">N</span>
				</p>
				<div class="year-part">
					<div class="checkbox">
					<input type="checkbox" id="main-year-group" disabled checked>
					<label for="main-year-group">Основной поток</label>
					</div>
					<select class="year-choice" name="year-select" id="year-select" onchange="updateProjectList()">
						{% for group in year_groups %}
                            <option value="{{ group.name }}" {% if group.is_main %} selected {% endif %} id="yeargroup-{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="space"></div>
		<form id="win-year" action="{% url 'add_year_group' %}" method="post">
            {% csrf_token %}
			<a href="#" class="win-overlay"></a>
			<div class="year-items">
				<p class="name">Учебный год</p>
				<input class="enter-year" type="text" placeholder="Например 2021" name="enter-year">
				<div class="checkbox">
					<input type="checkbox" id="do-main-year-group" name="do-main-year-group">
					<label for="do-main-year-group" class="main-year">Сделать поток основным</label>
				</div>
				<div class="btns">
					<input type="submit" value="Добавить">
					<a href="#">Отмена</a>
				</div>
		    </div>
		</form>
		<form id="win-project" action="{% url 'add_project' %}" method="post">
            {% csrf_token %}
			<a href="#" class="win-overlay"></a>
			<div class="project-items">
				<p class="name">Новый проект</p>
				<p class="main-year-proj">Проект добавится к основному потоку!</p>
				<div class="project">
					<div class="input-box">
						<input type="text" placeholder=" " name="project-name">
						<label>Название проекта</label>
					</div>
					<div class="input-box">
						<input type="text" placeholder=" " name="git-link">
						<label>Ссылка на репозиторий</label>
					</div>
				</div>
				<div class="students-up-part">
					<p class="list-name">Список студентов</p>
					<div class="menu">
						<a href="#win-project" class="student-num active-num" onclick="setActive(this)">1<i class="fas fa-crown"></i></a>
                        <a href="#win-project" id="new-student" onclick="addStudentForm()">+</a>
                    </div>
				</div>
				<div class="students">
					<div id="student-1" class="active">
						<div class="up">
							<p class="num">Студент <span>1</span></p>
						</div>
						<div class="FIO">
							<div class="input-box">
								<input type="text" placeholder=" " autocomplete="off" name="stud-surname-1">
								<label>Фамилия</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" " autocomplete="off" name="stud-name-1">
								<label>Имя</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" " autocomplete="off" name="stud-patronymic-1">
								<label>Отчество</label>
							</div>
						</div>
						<div class="study">
							<div class="input-box">
								<input type="text" placeholder=" " autocomplete="off" name="stud-group-1">
								<label>Группа</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" " autocomplete="off" name="stud-edu-1">
								<label>Форма обучения</label>
							</div>
						</div>
						<div class="social">
							<div class="input-box">
								<input type="text" placeholder=" " name="stud-vk-1">
								<label>VK</label>
							</div>
							<div class="input-box">
								<input type="text" placeholder=" " name="stud-git-1">
								<label>GitHub</label>
							</div>
						</div>
					</div>
				</div>
				<div class="btns">
					<input type="submit" value="Добавить">
					<a href="#">Отмена</a>
				</div>
			</div>
		</form>
        <script>
            let allProjects = {{ projects|safe }}
        </script>
        <script
          src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous">
        </script>
		<script src="{% static 'js/search.js' %}"></script>
		<script src="{% static 'js/student_form.js' %}"></script>
	</body>
</html>

