body .workspace .name {
	font-size: 20px;
	border-bottom: #ff4500 2px solid;
}

body .workspace p {
	margin: 20px 0 0 20px;
	font-size: 18px;
}

body .workspace .tags {
	margin: 10px 0 0 20px;
}

body .workspace .tags .tag, .new-tag {
	margin: 0 5px 0 0;
	position: relative;
	max-width: 320px;
	min-width: 60px;
	padding: 5px;
}

body .workspace .tags .tag .delete {
	border: none;
	cursor: pointer;
	background: none;
	color: red;
	position: absolute;
	top: -5px;
	right: 5px;
	text-shadow: 1px 0 1px #000, 
			0 1px 1px #000, 
			-1px 0 1px #000, 
			0 -1px 1px #000;
}

body .workspace .tags .new-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	border-radius: 15px;
	border: #d4d4d4 1px solid;
	text-decoration: none;
	color: #000;
	background: #f0f0f0;
	width: 60px;
}

body .workspace .tags .new-tag:hover {
	background: #EfEfEf;
}

body .workspace .tags .new-tag:active {
	background: #d4d4d4;
}

body .workspace .input-box {
	display: flex;
	position: relative;
	width: 100%;
}

body .workspace .input-box input {
	background-color: #f0f0f0;
	border: #d4d4d4 1px solid;
	border-radius: 15px;
	outline-color: #ff4500;
    padding: 5px 10px;
	margin: 15px 0 5px 20px;
	width: 50%;
}

body .workspace .input-box label {
    pointer-events: none;
    position: absolute;
    transition: all 250ms;
    margin: 20px 0 0 30px;
	color: #9f9f9f;
}

body .workspace .input-box input:focus + label,
body .workspace .input-box input:not(:placeholder-shown) + label{
    margin: 0 0 0 30px;
    font-size: 12px; 
    background-color: #ff6127;
	border-radius: 20px;
    padding: 2px 15px;
	color: #fff;
}

body .workspace .change-pas {
	background-color: #ff4500;
	color: #fff;
	border: none;
	border-radius: 15px;
	font-size: 16px;
    padding: 5px 0;
	margin: 10px 0 0 20px;
	width: 45%;
	cursor: pointer;
}

body .workspace .change-pas:hover {
	box-shadow: 0 0 5px 0 #ff6127;
}

body .workspace .change-pas:active {
	box-shadow: 0 0 5px 0 #ff4500;
}

body #win-tag {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
}

body #win-tag:target {
	display: flex;
	align-items: center;
	justify-content: center; 
}

body #win-tag .tag-items {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	background: #fff;
	border-radius: 15px;
}

body #win-tag .tag-items .name {
	padding: 10px;
	font-size: 18px;
}

body #win-tag .tag-items .colors {
	display: flex;
	justify-content: center;
}

body #win-tag .tag-items .colors .color-tag {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 20px;
}

body #win-tag .tag-items .colors .color-tag input {
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
	width: 70px;
	height: 60px;
    box-shadow: 1px 2px 3px 0px grey;
}

body #win-tag .tag-items .colors .color-tag input::-webkit-color-swatch-wrapper {
	padding: 0;
}

body #win-tag .tag-items .colors .color-tag input::-webkit-color-swatch {
	border: none;
	border-radius: 10px;
}

body #win-tag .tag-items .colors .color-tag label {
	margin: 5px 0 0 0;
}

body #win-tag .tag-items .input-box {
	justify-content: center;
	margin: 5px 0 15px 0;
}

body #win-tag .tag-items .input-box input {
	background-color: #f0f0f0;
	border: #d4d4d4 1px solid;
	border-radius: 15px;
	outline-color: #ff4500;
    padding: 5px 10px;
	margin: 5px 0 5px 0px;
	width: 80%;
}

body #win-tag .tag-items .input-box label {
    margin: 10px 0 0 -160px;
}

body #win-tag .tag-items .input-box input:focus + label,
body #win-tag .tag-items .input-box input:not(:placeholder-shown) + label{
    margin: -10px 0 0 -150px;
    font-size: 12px; 
    background-color: #ff6127;
	border-radius: 20px;
    padding: 2px 15px;
	color: #fff;
}

body #win-tag .tag-items .example-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	padding: 10px;
	margin: 0 0 20px 0;
}

body #win-tag .tag-items .btns {
	margin: 0 0 15px 0;
}

body .btns * {
	margin: 0 10px;
}
