

body .workspace .up-part {
	display: flex;
	align-items: center;
	border-bottom: #000 1px solid;
	height: 50px;
}

body .workspace .up-part .search {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 0 0 10px;
}

body .workspace .up-part .search input {
	flex: 1 0 10px;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 0 5px;
	border-bottom: #ff4500 2px solid;
	margin-top: 3px;
}

body .workspace .up-part .search .search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	color: #fff;
	background: #ff4500;
	border-radius: 15px;
	font-size: 18px;
	padding: 5px 10px;
}

 .up-part .search .search-btn:hover {
	box-shadow: 0 0 4px 0 #ff6127;
}

 .up-part .search .search-btn:active {
	box-shadow: 0 0 4px 0 #ff4500;
}

body .workspace .up-part .tag-choice {
	border: #ff4500 1px solid;
	outline: none;
	border-radius: 15px;
	font-size: 18px;
	margin: 0 10px;
	padding: 3px;
	background: #fff;
	width: 150px;
}

body .workspace .down-part {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: #000 1px solid;
	padding: 0 20px;
	height: 50px;
}

body .workspace .down-part .year-part {
	display: flex;
	align-items: center;
}

body .workspace .down-part .text-found {
	font-size: 18px;
}

body .workspace .down-part .year-part .checkbox {
	margin: 0 5px 0 0;
	color: #636363;
}

.checkbox, .checkbox label, .checkbox input {
	cursor: pointer;
}

body .workspace .down-part .year-part .year-choice {
	border: solid 1px #ff4500;
	border-radius: 15px;
	outline: none;
	font-size: 18px;
	padding: 3px 50px 3px 3px;
	background: #fff;
}

body .workspace .main-part {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow:hidden;
	overflow-y:auto;
}

body .workspace .main-part .project:last-child {
	border-bottom: none;
}

body .workspace .main-part .project {
	border-bottom: #000 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}

body .workspace .main-part .project .names {
	color: #aaa;
	margin-bottom: 4px;
}

body .workspace .main-part .project .git {
	color: #aaa;
	margin-top: 4px;
}

body .workspace .main-part .project p span {
	display: inline-block;
}

body .workspace .main-part .project a {
	text-decoration: none;
	font-size: 22px;
	color: #000;
}

body .workspace .main-part .project a:hover {
	text-decoration: underline;
	text-decoration-color: #ff4500;
}

body .workspace .main-part .tags {
	margin: 10px 10px 0 0;
}

body .workspace .main-part .tags .tag {
	margin: 0 5px 5px 0;
	padding: 2px 10px;
}

body #win-year, #win-project {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
}

body #win-year:target, #win-project:target {
	display: flex;
	align-items: center;
	justify-content: center; 
}

body #win-year .year-items {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 300px;
	background: #fff;
	border-radius: 15px;
	font-size: 20px;
}

body #win-year .year-items .name {
	padding: 10px 0 0 20px;
}

body #win-year .year-items .enter-year {
	background-color: #E9E9E9;
	border: #ff4500 1px solid;
	border-radius: 15px;
	outline: none;
    padding: 5px 10px;
	margin: 5px 10px 0 10px;
	font-size: 18px;
}

body #win-year .year-items .checkbox {
	margin: 10px 0 10px 10px;
}

body .btns{
	margin: 0 10px 10px 0;
}

body #win-year .year-items .btns * {
	margin: 0 10px 0 0;
}

body #win-project .project-items {
	position: relative;
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 15px;
	flex: 0 1 700px;
}

body #win-project .project-items .name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	padding: 10px 0;
}

body #win-project .project-items .main-year-proj{
	font-size: 14px;
	padding: 5px 0;
	color: grey;
	margin-left: 30px;
}

body #win-project .project-items .project, .students, .students-up-part {
	display: flex;
	flex-direction: column;
	margin: 0 30px 0 30px;
}

body #win-project .project-items .input-box input {
	background-color: #E9E9E9;
	border:  #ff4500 1px solid;
	border-radius: 15px;
	outline: none;
    padding: 5px 10px;
	font-size: 18px;
	margin: 10px 0;
}

body #win-project .project-items .project .input-box input {
	width: 100%;
}

body #win-project .project-items .input-box label {
    margin: 17px 0 0 10px;
}

body #win-project .project-items .students .input-box label {
    margin: 17px 0 0 20px;
}

body #win-project .project-items .input-box input:focus + label,
body #win-project .project-items .input-box input:not(:placeholder-shown) + label{
    margin: -5px 0 0 10px;
    font-size: 12px; 
    background-color: #ff6127;
	border-radius: 20px;
    padding: 3px 15px;
	color: #fff;
}

body #win-project .project-items .students .input-box input:focus + label,
body #win-project .project-items .students .input-box input:not(:placeholder-shown) + label{
    margin: -5px 0 0 20px;
}

body #win-project .project-items .students-up-part .list-name {
	font-size: 18px;
	border-bottom: #ff4500 1px solid;
	margin-top: 10px;
}

body #win-project .project-items .students-up-part .menu {
	display: flex;
	justify-content: flex-end;
	margin: -1px 0 0 0;
}

body #win-project .project-items .students-up-part .menu a {
	line-height: 28px;
	text-decoration: none;
	border: #ff4500 1px solid;
	border-radius: 0 0 5px 5px;
	font-size: 18px;
	padding: 0 15px;
	color: #000;
}

body #win-project .project-items .students-up-part .menu a i {
	margin-left: 5px;
	color: gold;
}

body #win-project .project-items .students > div:not(.active) {
	display: none;
}

body #win-project .project-items .students-up-part .menu a:hover, button:hover {
	box-shadow: 0 0 4px 0 #ff6127;
}

body #win-project .project-items .students-up-part .menu a:active, button:active, .active-num {
	box-shadow: 0 0 4px 0 #ff4500;
}

body #win-project .project-items .students .active {
	display: flex;
	flex-direction: column;
	border: #ff6127 1px dashed;
	border-radius: 5px;
	margin: 10px 0;
}

body #win-project .project-items .students .active .up {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 0 10px;
} 

body #win-project .project-items .students #student-1 .up .num {
	padding-bottom: 9px;
}

body #win-project .project-items .students .active .up button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	font-size: 18px;
	color: #ff4500;
	border: none;
	border-radius: 10px;
	margin: 0 20px 0 0;
	padding: 5px;
	cursor: pointer;
}

body #win-project .project-items .students .input-box input {
	width: 100%;
	margin: 10px;
}

body #win-project .project-items .students .study {
	display: flex;
	justify-content: space-between;
}

body #win-project .project-items .students .FIO {
	display: flex;
	flex-direction: column;
}

body #win-project .project-items .students .social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

body #win-project .project-items .btns * {
	font-size: 18px;
	margin: 0 20px 0 0;
}
