* {
	font-family: Bahnschrift;
	font-style: normal;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #D7CBCB;
	height: 100vh;
}

body .side-btns {
	display: flex;
	flex-direction: column;
	flex: 0 0 60px;
}

body .side-btns a {
	display: flex;
	flex: 0 0 50px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background: #fff;
	color: #ff4500;
	font-size: 20px;
	border-radius: 15px;
	margin: 10px 5px 0;
}

body .side-btns a:hover {
	box-shadow: 0 0 10px 0 #ff6127;
}

body .side-btns a:active {
	box-shadow: 0 0 10px 0 #ff4500;
}

body .personal-area {
	display: flex;
	flex: 0 1 700px;
	flex-direction: column;
	margin: 0 10px;
	background: #fff;
	border-radius: 15px;
	height: 90%;
}

body .personal-area .name {
	font-size: 20px;
	border-bottom: #ff4500 2px solid;
}

body .personal-area p {
	margin: 20px 0 0 20px;
	font-size: 18px;
}

body .personal-area .tags {
	display: flex;
	margin: 10px 0 0 20px;
}

body .personal-area .tags .tag, .new-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 80px;
	font-size: 14px;
	border-radius: 15px;
	padding: 3px 0;
	margin: 0 5px 0 0;
	position: relative;
}

body .personal-area .tags .tag .delete {
	border: none;
	cursor: pointer;
	background: none;
	color: red;
	position: absolute;
	top: -5px;
	right: 5px;
	
}

body .personal-area .tags .new-tag {
	border: #d4d4d4 1px solid;
	cursor: pointer;
}

body .personal-area .tags .new-tag:hover {
	background: #EfEfEf;
}

body .personal-area .tags .new-tag:active {
	background: #d4d4d4;
}

body .personal-area .input-box {
	display: flex;
	position: relative;
	width: 100%;
}

body .personal-area .input-box input {
	background-color: #f0f0f0;
	border: #d4d4d4 1px solid;
	border-radius: 15px;
	outline-color: #ff4500;
    padding: 5px 10px;
	margin: 15px 0 5px 20px;
	width: 50%;
}

body .personal-area .input-box label {
    pointer-events: none;
    position: absolute;
    transition: all 250ms;
    margin: 20px 0 0 30px;
	color: #9f9f9f;
}

body .personal-area .input-box input:focus + label,
body .personal-area .input-box .input-box input:not(:placeholder-shown) + label{
    margin: 0 0 0 30px;
    font-size: 12px; 
    background-color: #ff6127;
	border-radius: 20px;
    padding: 2px 15px;
	color: #fff;
}

body .personal-area .change-pas {
	background-color: #ff4500;
	color: #fff;
	border: none;
	border-radius: 15px;
	font-size: 16px;
    padding: 5px 0;
	margin: 10px 0 0 20px;
	width: 45%;
	cursor: pointer;
}

body .personal-area .change-pas:hover {
	box-shadow: 0 0 5px 0 #ff6127;
}

body .personal-area .change-pas:active {
	box-shadow: 0 0 5px 0 #ff4500;
}

body .space {
	flex: 0 100 60px;
}